---
import Mainlayout from "../layouts/main.layout.astro";
import PostsComponent from "../components/posts.component.astro";
import type { Post as PostType } from "../types/post.type";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./posts/**/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
) as PostType[];

const Posts2023 = posts.filter((post) =>
  post.frontmatter.date.includes("2023")
);
const Posts2022 = posts.filter((post) =>
  post.frontmatter.date.includes("2022")
);
const Posts2021 = posts.filter((post) =>
  post.frontmatter.date.includes("2021")
);
const Posts2020 = posts.filter((post) =>
  post.frontmatter.date.includes("2020")
);
const Posts2019 = posts.filter((post) =>
  post.frontmatter.date.includes("2019")
);
const Posts2018 = posts.filter((post) =>
  post.frontmatter.date.includes("2018")
);
const Posts2017 = posts.filter((post) =>
  post.frontmatter.date.includes("2017")
);
const Posts2016 = posts.filter((post) =>
  post.frontmatter.date.includes("2016")
);
const Posts2015 = posts.filter((post) =>
  post.frontmatter.date.includes("2015")
);
const Posts2014 = posts.filter((post) =>
  post.frontmatter.date.includes("2014")
);
const Posts2013 = posts.filter((post) =>
  post.frontmatter.date.includes("2013")
);
const Posts2012 = posts.filter((post) =>
  post.frontmatter.date.includes("2012")
);
---

<Mainlayout>
  <div>
    <PostsComponent posts={posts} />
    {
      /*
    <PostsComponent posts={Posts2023} />
    <PostsComponent posts={Posts2022} />
    <PostsComponent posts={Posts2021} />
    <PostsComponent posts={Posts2020} />
    <PostsComponent posts={Posts2019} />
    <PostsComponent posts={Posts2018} />
    <PostsComponent posts={Posts2017} />
    <PostsComponent posts={Posts2016} />
    <PostsComponent posts={Posts2015} />
    <PostsComponent posts={Posts2014} />
    <PostsComponent posts={Posts2013} />
    <PostsComponent posts={Posts2012} />
     */
    }
  </div>
</Mainlayout>
<style>
  div {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 800px;
  }
</style>
